@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');


  .logo-font {
    font-family: "Lacquer", cursive !important;
  }

   html,
  body,
  #root {
    background-color: #020617;
    min-height: 100%;
    margin: 0;
  }
